@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div style="display: flex; justify-content: center; align-items: center; height: 80vh; flex-direction: column">
    <h1 class="text-danger" style="font-weight: bold; font-size: 56px">@ViewData["Title"]</h1>
    <p class="text-danger" style="font-weight: bolder; font-size: 36px">You do not have access to this resource.</p>
</div>
