@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    // else
    // {
    //     Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    // }
}


<div style="height: 70vh; display: flex; align-items: center">
    <div style="flex: 1; margin-right: 100px">
        <partial name="_ManageNav" />
    </div>
    <div style="flex: 1; margin-left: 100px">
        @RenderBody()
    </div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
