@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    // else
    // {
    //     Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    // }
}


<div>
    <h2 style="color: #0a53be; font-weight: bolder; text-align: center">Change your account settings</h2>
    <hr style="color: #ffffff"/>
    <div class="row align-items-center justify-content-center" style="height: 70vh">
        <div class="col">
            <partial name="_ManageNav" />
        </div>
        <div class="col">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
