@model MDT.Lib.Models.CitizenModel

<div style="display: flex">
    <div style="flex: 1">
        <img style="width: 100px" src="@Model.Image"/>
    </div>
    <div style="flex: 1">
        <h2 style="color: #ffffff">@Model.Name @Model.Surname</h2>
    </div>
</div>