@model MDT.Lib.Models.FineModel

<div style="display: flex; justify-content: center; align-items: center; height: 80vh; color: #ffffff">
    <form asp-action="FineNew" style="display: flex; flex-direction: column; justify-content: center; align-items: center">
        <h2 style="font-size: 48px; font-weight: bold; margin-bottom: 50px">Create new record💰</h2>
        <input type="text" placeholder="Name" asp-for="Name" style="margin-bottom: 20px; background: none; border: none; border-bottom: 2px solid #ffffff; color: #ffffff; border-radius: 0; width: 350px; height: 45px; font-weight: bold; font-size: 18px"/>
        <input type="text" placeholder="Description" asp-for="Description" style="margin-bottom: 20px; background: none; border: none; border-bottom: 2px solid #ffffff; color: #ffffff; border-radius: 0; width: 350px; height: 45px; font-weight: bold; font-size: 18px"/>
        <input type="number" placeholder="Price" asp-for="Price" style="margin-bottom: 20px; background: none; border: none; border-bottom: 2px solid #ffffff; color: #ffffff; border-radius: 0; width: 350px; height: 45px; font-weight: bold; font-size: 18px"/>
        <button type="submit" style="width: 350px; height: 50px; font-weight: bold; border-radius: 10px; background-color: #0a53be; border: none; color: #ffffff; font-weight: bolder; font-size: 24px">Create fine💰</button>
    </form>
</div>