<body onload="startTime()">
@{
    if (User.Identity.IsAuthenticated)
    {
        <div style="display: flex; justify-content: center; align-items: center; height: 80vh; flex-direction: column">
            <h1 style="color: #0d6efd; font-weight: bold; font-size: 68px; text-align: center;">Police Mobile Data Terminal</h1>
            <h2 id="txt" style="color: lightgray; font-weight: lighter; font-size: 38px"></h2>
        </div>
    }
    else
    {
        <div style="display: flex; justify-content: center; align-items: center; height: 80vh; flex-direction: column">
            <h1 style="color: #0d6efd; font-weight: bold; font-size: 68px; text-align: center;">Police Mobile Data Terminal</h1>
            <h2 style="font-weight: bolder; font-size: 32px; color: #ffffff">Please login or register for full access.</h2>
        </div>
    }
}

<script>
function startTime() {
  const today = new Date();
  let h = today.getHours();
  let m = today.getMinutes();
  let s = today.getSeconds();
  let day = today.getDate()
  let month = today.getMonth() + 1;
  let year = today.getFullYear();
  m = checkTime(m);
  s = checkTime(s);
  document.getElementById('txt').innerHTML =  day + "." + month + "." + year + " " + h + ":" + m + ":" + s;
  setTimeout(startTime, 1000);
}

function checkTime(i) {
  if (i < 10) {i = "0" + i};
  return i;
}
</script>
</body>