@{
    if (User.Identity.IsAuthenticated)
    {
        <div style="display: flex; justify-content: center; align-items: center; height: 80vh; flex-direction: column">
            <h1 style="color: #0a53be; font-weight: bold; font-size: 68px; text-align: center;">Police Mobile Data Terminal</h1>
        </div>
    }
    else
    {
        <div style="display: flex; justify-content: center; align-items: center; height: 80vh; flex-direction: column">
            <h1 style="color: #0a53be; font-weight: bold; font-size: 68px; text-align: center;">Police Mobile Data Terminal</h1>
            <h2 style="font-weight: bolder; font-size: 32px; color: #ffffff">Please login or register for full access.</h2>
        </div>
    }
}