@model List<MDT.Lib.Models.WarrantModel>

<div style="display: flex; flex-direction: row; align-items: center; margin-top: 50px">
    <div>
        <h1 style="color: #ffffff; font-weight: bold; margin-right: 60px; border-left: 5px solid sandybrown; padding: 0 0 0 10px;">Warrants list</h1>
    </div>
    <div>
        <input type="text" id="searchInput" placeholder="Search.." style="background: none; margin-right: 60px; border: none; border-bottom: 2px solid #ffffff; color: #ffffff; border-radius: 0; height: 40px; width: 250px; font-weight: bolder; font-size: 20px">
    </div>
    <div style="display: flex; justify-content: center; align-items: center; background-color: #1d1d20; border-radius: 7px; text-align: center; width: 200px; height: 45px;">
        <a style="color: #ffffff; font-weight: bolder; font-size: 20px; text-decoration: none; text-align: center;" href="#">New warrant⚠</a>
    </div>
</div>

<div id="modelsContainer" style="display: flex; flex-direction: column; align-items: center; margin-top: 20px">
    @foreach (var data in Model)
    {
        <div class="model" style="display: flex; align-items: center; height: 90px; width: 450px; color: #ffffff; background-color: #1d1d20; margin-top: 20px; border-radius: 10px; border: 1px solid sandybrown">
            <div style="display: flex; flex-direction: column;  margin-left: 20px; flex: 1;">
                <h3 style="font-weight: bolder; font-size: 24px; margin-bottom: 0">@data.Reason</h3>
            </div>
            <div style="display: flex; flex-direction: column;  margin-left: 20px; flex: 1; max-height: 100px; max-width: 40ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: center">
                <h3 style="font-size: 18px; font-weight: lighter; text-overflow: ellipsis; overflow: hidden; margin-bottom: 0">@data.CitizenData.Name @data.CitizenData.Surname</h3>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div style="display: flex; justify-content: flex-end; flex: 1; margin-right: 25px">
                    <div style="margin-right: 25px">
                        <a style="background-color: transparent; color: #ffffff; outline: none; border: none; font-weight: bold; text-decoration: none" href="/Home/WarrantDetail?warrantId=@data.Id">\/</a>
                    </div>
                    <div style="">
                        <a style="background-color: transparent; color: #ffffff; outline: none; border: none; font-weight: bold; text-decoration: none" href="/Home/WarrantDelete?warrantId=@data.Id">X</a>
                    </div>
                </div>
            }
            else
            {
                <div style="display: flex; justify-content: flex-end; flex: 1; margin-right: 25px">
                    <a style="background-color: transparent; color: #ffffff; outline: none; border: none; font-weight: bold; text-decoration: none" href="/Home/WarrantDetail?warrantId=@data.Id">\/</a>
                </div>
            }
        </div>
    }
</div>

@section Scripts {
    <script>
        document.getElementById("searchInput").addEventListener("input", function () {
            var filter = this.value.toLowerCase();
            var models = document.getElementsByClassName("model");

            for (var i = 0; i < models.length; i++) {
                var modelName = models[i].getElementsByTagName("h3")[0].textContent.toLowerCase();
                if (modelName.includes(filter)) {
                    models[i].style.display = "flex";
                } else {
                    models[i].style.display = "none";
                }
            }
        });
    </script>
}