@model MDT.Lib.Models.WarrantModel

<div style="display: flex; justify-content: center; align-items: center; height: 80vh; color: #ffffff">
    <form asp-action="WarrantEdit" style="display: flex; flex-direction: column; justify-content: center; align-items: center">
        @Html.HiddenFor(m=>m.Id)
        <h2 style="font-size: 48px; font-weight: bold; margin-bottom: 50px">Edit warrant👩‍⚖️</h2>
        <input type="text" placeholder="Reason" value="@Model.Reason" asp-for="Reason" style="margin-bottom: 20px; background: none; border: none; border-bottom: 2px solid #ffffff; color: #ffffff; border-radius: 0; width: 350px; height: 45px; font-weight: bold; font-size: 18px"/>
        <button type="submit" style="width: 350px; height: 50px; font-weight: bold; border-radius: 10px; background-color: #0a53be; border: none; color: #ffffff; font-weight: bolder; font-size: 24px">Save warrant👩‍⚖️</button>
    </form>
</div>