@using MDT.Data.Identity
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MDT.Lib.Models.WarrantModel
@inject SignInManager<CustomUser> SignInManager
@inject UserManager<CustomUser> UserManager

<div style="display: flex; justify-content: center; align-items: center; height: 80vh">
    <form asp-action="WarrantNew">
        @{
            var user = await UserManager.GetUserAsync(User);
            
            <input type="text" placeholder="Reason" asp-for="Reason"/>
            <input type="text" disabled value="@user.Name @user.Surname" asp-for="ReleasedBy"/>
            <button type="submit">Create warrant👩‍⚖️</button>
        }
    </form>
</div>